<div class="blog container fluid">
    <view-title>Tag: {{tag}}</view-title>
    <div class="row">
        <h1>Tagged <span class="label label-default">{{tag}}</span></h1>
        <ul class="category-list">
            <li ng-repeat="catpost in catposts">
                <span class="meta">{{catpost.date}}</span><br />
                <a href="#/blog/posts/{{catpost.slug}}">{{catpost.title}}</a>
            </li>
        </ul>
        <a href="#/blog"><i class="fa fa-caret-left"></i> Zurück zur Übersicht</a>
    </div>
</div>
