<div class="home container fluid">
    <view-title>Willkommen</view-title>
    <div class="row">
        <div class="col-md-3">
            <div class="hero-unit">
                <img src="dist/images/nils-256px-square.jpg" class="hero-image" srcset="dist/images/nils-512px-square.jpg 2x" />
            </div>
        </div>
        <div class="col-md-9">
            <h1>Hallo, ich bin Nils.</h1>
            <p>
                <span class="drop-cap">G</span>estatten: Codecat, Pixeljunkie und begeisterter Musiker. Außerdem interessiere ich mich unter anderem für Fotografie, Audiotechnik und Videospiele. Auch ist mir der gelegentliche sprichwörtliche Blick über den Tellerrand wichtig, um inspiriert zu bleiben.
            </p>
            <p>
                Beruflich beschäftige ich mich zur Zeit mit der Frontend-Webentwicklung (HTML, CSS/LESS, JavaScript) und bin bei der Kieler Agentur <a href="http://www.medienmonster.com/" target="_blank">medienmonster</a> angestellt. Alles weitere zu meinem beruflichen Werdegang findet ihr in meiner <a href="#/vita">Vita</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
                <p>
                    Darüber hinaus findet man mich, quasi als Selfmade-Tontechniker, immer mal wieder bei Veranstaltungen im Kieler Raum, z.B. im <a href="http://savoy-bordesholm.de/" target="_blank">Kinoverein Savoy Bordesholm</a> oder zuletzt beim <a href="http://www.kielnet-bhs.de/" target="_blank">KielNET Bootshafensommer</a>, wo ich eifrig die Fader bediene.
                </p>
                <p>
                    Im Juli 2013 habe ich den Master of Arts in Multimedia Production erworben. Meine Master-Thesis hat den Titel &raquo;Client Side Animations - Möglichkeiten und Grenzen moderner Webstandards&laquo;.
                </p>
        </div>
    </div>
</div>
