@import (inline) "../css/loading-bar.css";
@import "modules/normalize.less";
@import "modules/base.less";
@import "modules/header.less";
@import "modules/navigation.less";
@import "modules/footer.less";
@import "modules/404.less";
@import "modules/blog.less";
@import "modules/vita.less";
@import "modules/googlemap.less";
@import "modules/animations.less";

body {
    background: @clouds;
    color: @asbestos;
    overflow-x: hidden;
    overflow-y: scroll;
    .serif();
}

a {
    color: @emerald;
    outline: none !important;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: @nephritis;
    }
}

p {
    line-height: 1.33;
}

.label {
    border-radius: 3px;
    color: @clouds;
    font-size: .66em;
    padding: 5px;
}

h1,h2,h3,h4,h5,h6 {
    color: @belizehole;
    font-family: @sans-serif;
    font-weight: 300;
}

h1.intro {
    font-size: 5rem;
}

blockquote {
    font-size: 1.33em;
    font-style: italic;
    margin-top: 1.33em;
    &+cite {
        display: inline-block;
        margin-bottom: 1.33em;
        text-align: right;
        width: 100%;
        &:before {
            content:  "— ";
        }
    }
}

#loading-bar {
    .bar {
        background: @belizehole;
        height: 5px;
    }
    .peg {
        .box-shadow(@belizehole 1px 0 6px 1px);
    }
}

#wrapper {
    padding-left: 15em;
}

.content {
    min-height: 50vh;
    padding: 3em;
    a {
        color: @belizehole;
        &:hover {
            color: @peterriver;
        }
        &[target]:before {
            content: '\f14c';
            font-family: 'FontAwesome';
            padding-right: 5px;
        }
    }
    .label-default {
        background-color: @belizehole;
        color: @clouds;
    }
}

.row {
    clear: both;
    display: block;
    width: 100%;
}

.hero-unit {
    img {
        border-radius: 50%;
        border: 5px solid @blue;
    }
}

i.fa {
    padding-right: 5px;
}

.fa-stack {
    color: @blue;
    width: 100%;
    text-align: center;
    .fa-stack-1x {
        color: @nephritis;
    }
}

.drop-cap {
    display: block;
    font-style: normal;
    font-size: 3em;
    float: left;
    margin: .13em .1em 0 0;
    line-height: .67em;
    font-weight: 100;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

img.intext {
    border: 10px solid white;
    box-shadow: 0 0 5px rgba(10,10,10,.33);
    &.right,
    &.left {
        border-bottom: 30px solid white;
    }
    &.right {
        float: right;
        margin: 0 0 1em 1em;
    }
    &.left {
        float: left;
        margin: 0 1em 1em 0;
    }
}
