.blog {
    .search-form {
        text-align: right;
        width: 100%;
    }
    .blog-search {
        color: $belizehole;
        .blog-search__field {
            border: none;
            border-radius: 20px;
            box-shadow: inset 0 0 5px transparentize($blue, .33);
            padding: 0 1em;
            position: relative;
        }
    }
    .label {
        font-size: 0.66em;
        font-weight: 300;
        margin: 0 0.66em 0 0;
        &.label-default {
            background-color: $belizehole;
        }
        &:last-child {
            margin-right: 0;
        }
        a {
            color: $clouds;
            &:hover {
                color: darken($clouds, 5%);
            }
        }
    }
    .meta {
        font-size: 0.9em;
        font-weight: 300;
        color: darken($clouds, 20%);
    }
    .post-list,
    .category-list {
        font-weight: 300;
        list-style: none;
        margin: 2em 0;
        padding-left: 0;
        li {
            margin: 1.66em 0;
            a {
                font-size: 2em;
                line-height: 1.33;
            }
            .label {
                margin-top: 0.33em;
                > a {
                    font-size: inherit;
                }
            }
        }
    }
}
.post {
    > .row {
        .meta {
            float: none;
            width: 100%;
            margin-bottom: 1.33em;
            @media (min-width: $gridWidth) {
                float: right;
                margin: 0 0 1.33em 2em;
                width: 240px;
            }
            .author-image {
                border: 3px solid $belizehole;
                border-radius: 50%;
                float: right;
                height: 64px;
                width: 64px;
            }
        }
        h1 {
            margin-top: 0;
        }
    }
}
