.contact-wrap {
    @include flexbox();
    @include flexdir(column);
    @media (min-width: $gridWidth) {
        @include flexdir(row);
    }
    > div {
        @include flex(1 0 auto);
    }
}

.angular-google-map {
    min-width: 400px;
    @media (max-width: 480px) {
        min-width: 280px;
    }
    width: 100%;
    .angular-google-map-container {
        min-height: 400px;
    }
}
